/*General*/
h1 {
  color: #FEBC11;
  }
h2 {
  color: #FEBC11;
  }
p {
  color: black;
  font-size: 1em;
  font-family: Tahoma;
  line-height: 2.25em;
  width:35%;
  /*The reset file made it so dull and a bit unreadable with spacing. I've condensed the text here, to make it more readable. Now, I've also broken it a bit in that while this is responcive it won't flow well on smaller screens. If I was doing this for more than demonstration purposes. I'd want to use media breaks, which we haven't talked about.*/
  }
ul {
  color: black;
  }
ol {
  color: black;
  }
body {
  background-color: #DCE1E5;
  width: 85%;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
header {
  background-color: ##003660;
  width: 85%;
  margin-left: 20px;
  margin-bottom: 20px;
  }
img {
  border: black solid 5px;
}

/*Layout*/
